argh==0.26.2
beautifulsoup4==4.6.3
certifi==2018.10.15
chardet==3.0.4
Cython==0.29.7
docutils==0.14
gitdb2==2.0.5
GitPython==2.1.11
idna==2.7
jedi==0.13.3
Kivy==1.10.1
Kivy-Garden==0.1.4
kivymd==0.1.2
lxml==4.2.5
parso==0.4.0
pathtools==0.1.2
Pygments==2.7.4
PySocks==1.6.8
PyYAML==5.1
requests==2.20.0
six==1.12.0
smmap2==2.0.5
urllib3==1.24
watchdog==0.9.0
